<!-- https://ng-bootstrap.github.io/#/components/table/examples#filtering -->
<div *ngIf="currenciesResponse; else templateNo" class="main-body">

  <div class="table-responsive">
    <table class="table table-striped table-hover table-borderless table-sm align-middle">
      <thead class="table-light">
        <caption class="text-nowrap">
          Currencies Catalog Info
        </caption>
        <tr>
          <th>Key</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr class="table-sm">
          <td scope="row">Seed</td>
          <td>{{ currenciesResponse.info.seed }}</td>
        </tr>
        <tr class="table-sm">
          <td scope="row">Skip</td>
          <td>{{ currenciesResponse.info.skip }}</td>
        </tr>
        <tr class="table-sm">
          <td scope="row">Limit</td>
          <td>{{ currenciesResponse.info.limit }}</td>
        </tr>
        <tr class="table-sm">
          <td scope="row">Total</td>
          <td>{{ currenciesResponse.info.total }}</td>
        </tr>
        <tr class="table-sm">
          <td scope="row">Results</td>
          <td>{{ currenciesResponse.info.results }}</td>
        </tr>
        <tr class="table-sm">
          <td scope="row">Version</td>
          <td>{{ currenciesResponse.info.version }}</td>
        </tr>
      </tbody>
      <tfoot></tfoot>
    </table>
  </div>
  <br />
  <div class="d-flex justify-content-between p-2">

    <ngb-pagination *ngIf="totalItems" [collectionSize]="totalItems" [(page)]="currentPage" [pageSize]="itemsPerPage"
      [boundaryLinks]="true" [ellipses]="true" [maxSize]="20" (pageChange)="pageChanged($event)"></ngb-pagination>

    <div ngbDropdown class="d-inline-block" (openChange)="openChange($event)">
      <button type="button" class="btn btn-outline-primary" id="dropdownBasicItemsPerPage" ngbDropdownToggle>
        {{itemsPerPage}} Items per page
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasicItemsPerPage">
        <button *ngFor="let option of itemsPerPageOptions" ngbDropdownItem (click)="itemsPerPage=option">{{ option }}
          items per page</button>
      </div>
    </div>
  </div>

  <div style="display: flex; align-items: center;">
    <caption class="text-nowrap">
      Currencies Catalog&nbsp;
    </caption>
    <input id="table-filtering-search" class="form-control" type="text" placeholder="Full text search" [formControl]="filter" />
  </div>

  <div class="table-responsive">
    <table class="table table-striped table-hover table-borderless table-sm align-middle">
      <thead class="table-light">
        <tr>
          <th>Id</th>
          <th>name</th>
          <th>Enabled</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr *ngFor="let currency of currenciesResponse.results; let i = index" class="table-sm">
          <td scope="row">{{ currency.id }}</td>
          <td>{{ currency.name }}</td>
          <td>
            <!-- <a [routerLink]="['/currency', currency.id]" class="btn btn-sm btn-outline-success" type="button">...</a> -->
            <input type="checkbox" [(ngModel)]="currency.enabled">
          </td>
        </tr>
      </tbody>
      <tfoot></tfoot>
    </table>

  </div>

</div>
<ng-template #templateNo>
  <p>Loading...</p>
</ng-template>
