<p class="fw-vold" >Home {{ room }}</p>

<div class="row justify-content-center align-items-center g-2">
  <app-opportunity [side]="'All'"></app-opportunity>
  <!-- <div class="col">
    <app-opportunity [side]="'Buy'"></app-opportunity>
  </div>
  <div class="col">
    <app-opportunity [side]="'Sell'"></app-opportunity>
  </div> -->
</div>
<br />
<!-- <div class="row justify-content-center align-items-center g-2">
  <div class="col">
    <app-balance></app-balance>
  </div>
</div>
<br />
<div class="row justify-content-center align-items-center g-2">
  <div class="col">
    <app-blotter></app-blotter>
  </div>
</div>
<br />
<div class="row justify-content-center align-items-center g-2">
  <div class="col">
    <app-log></app-log>
  </div>
</div> -->

<br />

<p *ngIf="ServerTime">Server Time {{ ServerTime | date: 'fullTime' }}</p>
