<nav *ngIf="authService.isLoggedIn$ | async" class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
    <a class="navbar-brand navbar-toggler-icon" data-bs-toggle="offcanvas" href="#offcanvasExample" aria-controls="offcanvasExample"></a>
    <a class="navbar-brand" data-bs-toggle="offcanvas" href="#">Condor Trading v1.0</a>
    <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav me-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link active" href="#" aria-current="page">Home <span class="visually-hidden">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/exchanges" aria-current="page">Exchanges <span class="visually-hidden">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/symbols" aria-current="page">Symbols <span class="visually-hidden">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/pairs" aria-current="page">Pairs <span class="visually-hidden">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/room/debug-room" aria-current="page">Debug <span class="visually-hidden">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
          <div class="dropdown-menu" aria-labelledby="dropdownId">
            <a class="dropdown-item" href="#">Action 1</a>
            <a class="dropdown-item" href="#">Action 2</a>
          </div>
        </li>
      </ul>
      <form class="d-flex my-2 my-lg-0">
        <input class="form-control me-sm-2" type="text" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Settings</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div>
      &nbsp;
    </div>
    <div class="mt-3">
      <button class="btn btn-secondary btn-success" type="button" (click)="logout()" data-bs-dismiss="offcanvas">
        Logout
      </button>
    </div>
  </div>
</div>



<div class="container mt-4 mb-4">
  <div class="row">
    <div class="col-xs-12">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div *ngIf="authService.isLoggedIn$ | async" class="row">
    <div class="col-xs-12">
      <p class="text-muted">{{ dateTime | date: 'fullTime' }}</p>
    </div>
    <!-- <div>
      <a [routerLink]="['/symbols']" routerLinkActive="router-link-active" class="btn btn-primary" type="button" >Main</a>
    </div> -->
  </div>
</div>
