<div *ngIf="response; else templateNo" class="main-body">
  <div class="table-responsive">
    <table class="table table-striped table-hover table-borderless table-sm align-middle">
      <thead class="table-light">
        <caption class="text-nowrap">
          Exchanges Catalog Info
        </caption>
        <tr>
          <th>Key</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr class="table-sm">
          <td scope="row">Seed</td>
          <td>{{ response.info.seed }}</td>
        </tr>
        <tr class="table-sm">
          <td scope="row">Skip</td>
          <td>{{ response.info.skip }}</td>
        </tr>
        <tr class="table-sm">
          <td scope="row">Limit</td>
          <td>{{ response.info.limit }}</td>
        </tr>
        <tr class="table-sm">
          <td scope="row">Results</td>
          <td>{{ response.info.results }}</td>
        </tr>
        <tr class="table-sm">
          <td scope="row">Version</td>
          <td>{{ response.info.version }}</td>
        </tr>
      </tbody>
      <tfoot></tfoot>
    </table>
  </div>
  <br />
  <div class="table-responsive">
    <table *ngIf="response" class="table table-striped table-hover table-borderless table-sm align-middle">
      <thead class="table-light">
        <caption class="text-nowrap">
          Exchanges Catalog
        </caption>
        <tr>
          <th>Id</th>
          <th>name</th>
          <th>description</th>
          <th>markets</th>
          <th>details</th>
          <th>delete</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr *ngFor="let exchange of response?.results; let i = index" class="table-sm">
          <td scope="row">{{ exchange.id }}</td>
          <td>{{ exchange.name }}</td>
          <td>{{ exchange.description }}</td>
          <td>{{ exchange.markets.length }}</td>
          <td>
            <a [routerLink]="['/exchange', exchange.id]" class="btn btn-sm btn-outline-success" type="button">...</a>
          </td>
          <td>
            <a [routerLink]="['/exchange', exchange.id]" class="btn btn-sm btn-outline-success" type="button">x</a>
          </td>
        </tr>
      </tbody>
      <tfoot></tfoot>
    </table>
  </div>
</div>
<ng-template #templateNo>
  <p>Loading...</p>
</ng-template>
