<p>{{side}} side opportunities</p>
<table class="table table-sm">
  <thead>
    <tr>
      <th>A</th>
      <th>B</th>
      <th>C</th>
      <th>Trade</th>
      <th>Volume</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let opportunity of opportunities$ | async">
      <td>{{ opportunity.a.side }} {{ opportunity.a.name }}</td>
      <td>{{ opportunity.b.side }} {{ opportunity.b.name }}</td>
      <td>{{ opportunity.c?.side }} {{ opportunity.c?.name }}</td>
      <td>{{ opportunity.volume | number: '1.2-2' }}</td>
      <td>{{ opportunity.trade | number: '1.2-2' }}</td>
      <td>
        <button class="btn btn-outline-success btn-sm" (click)="trade(opportunity.id)">...</button>
      </td>
    </tr>
  </tbody>
</table>

