<!-- https://ng-bootstrap.github.io/#/components/table/examples#filtering -->
<div *ngIf="symbolsResponse; else templateNo" class="main-body">

  <div class="table-responsive">
    <table class="table table-striped table-hover table-borderless table-sm align-middle">
      <thead class="table-light">
        <caption class="text-nowrap">
          Symbols Catalog Info
        </caption>
        <tr>
          <th>Key</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr class="table-sm">
          <td scope="row">Seed</td>
          <td>{{ symbolsResponse.info.seed }}</td>
        </tr>
        <tr class="table-sm">
          <td scope="row">Skip</td>
          <td>{{ symbolsResponse.info.skip }}</td>
        </tr>
        <tr class="table-sm">
          <td scope="row">Limit</td>
          <td>{{ symbolsResponse.info.limit }}</td>
        </tr>
        <tr class="table-sm">
          <td scope="row">Total</td>
          <td>{{ symbolsResponse.info.total }}</td>
        </tr>
        <tr class="table-sm">
          <td scope="row">Results</td>
          <td>{{ symbolsResponse.info.results }}</td>
        </tr>
        <tr class="table-sm">
          <td scope="row">Version</td>
          <td>{{ symbolsResponse.info.version }}</td>
        </tr>
      </tbody>
      <tfoot></tfoot>
    </table>
  </div>
  <br />
  <div class="d-flex justify-content-between p-2">

    <ngb-pagination *ngIf="totalItems" [collectionSize]="totalItems" [(page)]="currentPage" [pageSize]="itemsPerPage"
      [boundaryLinks]="true" [ellipses]="true" [maxSize]="20" (pageChange)="pageChanged($event)"></ngb-pagination>

    <div ngbDropdown class="d-inline-block" (openChange)="openChange($event)">
      <button type="button" class="btn btn-outline-primary" id="dropdownBasicItemsPerPage" ngbDropdownToggle>
        {{itemsPerPage}} Items per page
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasicItemsPerPage">
        <button *ngFor="let option of itemsPerPageOptions" ngbDropdownItem (click)="itemsPerPage=option">{{ option }}
          items per page</button>
      </div>
    </div>
  </div>

  <div style="display: flex; align-items: center;">
    <caption class="text-nowrap">
      Symbols Catalog&nbsp;
    </caption>
    <input id="table-filtering-search" class="form-control" type="text" placeholder="Full text search" [formControl]="filter" />
  </div>

  <div class="table-responsive">
    <table class="table table-striped table-hover table-borderless table-sm align-middle">
      <thead class="table-light">
        <tr>
          <th>Id</th>
          <th>
            <div ngbDropdown class="d-inline-block">
              <div type="button" class="text" id="dropdownBasicFilterExchange" ngbDropdownToggle>
                {{filterExchange || "Exchange"}}
              </div>
              <div ngbDropdownMenu aria-labelledby="dropdownBasicFilterExchange" class="table-sm">
                <button *ngFor="let exchange of exchanges" ngbDropdownItem (click)="filterExchange=exchange">{{ exchange || "(All)" }}</button>
              </div>
            </div>
          </th>
          <th>
            <div ngbDropdown class="d-inline-block">
              <div type="button" class="text" id="dropdownBasicFilterSymbol" ngbDropdownToggle>
                {{filterSymbol || "Symbol"}}
              </div>
              <div ngbDropdownMenu aria-labelledby="dropdownBasicFilterSymbol" class="table-sm">
                <button *ngFor="let symbol of symbols" ngbDropdownItem (click)="filterSymbol=symbol">{{ symbol || "(All)" }}</button>
              </div>
            </div>
          </th>
          <th>
            <div ngbDropdown class="d-inline-block">
              <div type="button" class="text" id="dropdownBasicFilterBase" ngbDropdownToggle>
                {{filterBase || "Base"}}
              </div>
              <div ngbDropdownMenu aria-labelledby="dropdownBasicFilterBase" class="table-sm">
                <button *ngFor="let base of bases" ngbDropdownItem (click)="filterBase=base">{{ base || "(All)" }}</button>
              </div>
            </div>
          </th>
          <th>
            <div ngbDropdown class="d-inline-block">
              <div type="button" class="text" id="dropdownBasicFilterTerm" ngbDropdownToggle>
                {{filterTerm || "Term"}}
              </div>
              <div ngbDropdownMenu aria-labelledby="dropdownBasicFilterTerm" class="table-sm">
                <button *ngFor="let term of terms" ngbDropdownItem (click)="filterTerm=term">{{ term || "(All)" }}</button>
              </div>
            </div>
          </th>
          <th>Bid</th>
          <th>Ask</th>
          <th>Enabled</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr *ngFor="let symbol of symbolsResponse.results; let i = index" class="table-sm">
          <td scope="row">{{ symbol.id }}</td>
          <td>{{ symbol.exchange }}</td>
          <td>{{ symbol.name }}</td>
          <td>{{ symbol.pair.base }}</td>
          <td>{{ symbol.pair.term }}</td>
          <!-- https://angular.io/api/common/DecimalPipe -->
          <td>{{ symbol.bid.px | number: '1.2-8' }}</td>
          <td>{{ symbol.ask.px | number: '1.2-8' }}</td>
          <td>
            <!-- <a [routerLink]="['/symbol', symbol.id]" class="btn btn-sm btn-outline-success" type="button">...</a> -->
            <input type="checkbox" [(ngModel)]="symbol.checked">
          </td>
        </tr>
      </tbody>
      <tfoot></tfoot>
    </table>

  </div>

</div>
<ng-template #templateNo>
  <p>Loading...</p>
</ng-template>
